*{
    box-sizing: border-box;
}

.zones {
    margin: 2%;
    display: flex;
}

.zone-box {
    width: 25%;
    margin: .5%;
}

img {
    width: 100%;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.form {
    
}

.main-form{
    display: flex;
    justify-content: center;
}

label, select, 
input, button {
    margin: .25%
}
